<div class="top-pos">
  <center><img src="http://www.exmna.org/wp-content/uploads/2015/03/logo_crescent-Custom1.png">
  <h1>EXMNA Screening Application</h1></center>
</div>

<div class="centered">
    <%= link_to '<i class="fa fa-google"></i> Sign in with Google'.html_safe, "/auth/google_oauth2", class:"btn btn-block btn-social btn-google" %>
</div>
