<body>
<div id="social_icons">
  <%= link_to image_tag( 'facebook.png' ), "https://facebook.com/exmna", class: "social" %>
  <%= link_to image_tag( 'twitter.png' ), "https://twitter.com/exmuslimsofna", class: "social" %>
  <%= link_to image_tag( 'googleplus.png' ), "https://plus.google.com/+exmna", class: "social" %>
  <%= link_to image_tag( 'email.png' ), "mailto:community@exmna.org", class: "social" %>
</div>


<div id="thanks_text">
<i class="fa fa-check-circle fa-lg" style="color: green"></i> Thanks for your interest! We'll be in touch. In the meantime check out our social media pages!
</div>
</body>